/* 이메일 보내기 */
.email {
    border: 1px solid silver;
    padding: 100px;
}
/* 글로벌 네비게이션 메뉴 */
li.gnb {
    display: inline;
    padding: 15px;
}
div.gnb {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: 15px;
    font: bold 1vw;
}
class.gnb {
    display: inline;
}
#main-img-001 {
    width: 100%;
}
button {
    font-size: 10px;
}

/* 디스플레이모드 */
.displayMode {
    background-color: black;
    color: white;
}